/*.container div {
    background-color: orange;
 /*   width: 20px;
    height: 20px;
    border: 1px solid black;
    
    border: 1px solid black;
}
*/

body{
    text-align: center;
    background-color: rgb(240, 183, 142);
}

button {
    margin: 20px;
}

.container {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
}
