/*.container div {
    background-color: orange;
 /*   width: 20px;
    height: 20px;
    border: 1px solid black;
    
    border: 1px solid black;
}
*/
.container {
    width: 800px;
    height: 800px;

    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
  /*  justify-items: stretch;
      border: 1px solid black;
 /*   width: 80%;
    height: 80%;
    */
    border: 1px solid black;
}

.new-color {

    background-color: hsl(219, 72%, 47%);
 /*   border: 1px solid red;
 */
}